.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 4rem;
  align-items: center;
}

.Logo-Container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.Nav-Links {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
  align-items: center;
}

a:hover {
  color: #f00;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
.reserve-btn {
  background-color: rgb(34, 109, 228);
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.reserve-btn:hover {
  background-color: rgb(0, 0, 0);
}

.info {
  display: flex;
  gap: 1rem;
}

.cancel-btn {
  background-color: white;
  color: rgb(191, 195, 199);
  transition: 0.5s ease-in-out;
}
